MH_SAVE_SYNC_PUBLIC_PORT="18080"
POSTGRES_PASSWORD_FILE="./secrets/postgres_password.txt"
MINIO_ROOT_USER_FILE="./secrets/minio_root_user.txt"
MINIO_ROOT_PASSWORD_FILE="./secrets/minio_root_password.txt"
