{$MH_SAVE_SYNC_PUBLIC_HOST:localhost} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}

	reverse_proxy server:8080
}
